body {
    font-family: Arial;
}

.loops-input,
.loops{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.loops-input{
    margin-bottom: 10px;
    align-items: stretch;
}

/*input*/
.js-name-input{
    font-size: 15px;
    padding: 10px;
}
.js-name-date{
    font-size: 15px;
    padding: 10px;
}
.add-button{
    background-color: green;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.delete-button{
    background-color: darkred;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;

}